:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 300ms ease;


  font-family: 'Krub', sans-serif;
  
}
.pos-bottom{
  border-radius: 0em 0em 1em 1em;

}
img{
  border-radius: 1em;

}
.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  grid-auto-rows: 100px;
  grid-gap: 20px;
  justify-content: center;
  padding: 0;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  border-radius: 1em;

  box-shadow: 0px 0px 19px 0px var(--box-shadow), 0px 0px 19px 0px var(--box-shadow);

}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

@media (min-width:500px) {
  .gallery{
    grid-template-columns: repeat(2, 2fr);
    margin: 0 auto; padding: 0px;
    grid-auto-rows: 150px;

  }
}
@media (min-width:700px) {
  .gallery{
    grid-template-columns: repeat(3, 2fr);
    margin: 0 auto; padding: 30px;
    grid-auto-rows: 200px;

  }
}
@media (min-width:1200px) {
  .gallery{
    grid-template-columns: repeat(auto-fit, minmax(340px, 2fr));
    grid-auto-rows: 220px;
    max-width: 1150px;

    margin: 0 auto; padding: 0px;

  }
}
